.navBar {
  background-color: #d6edf6;
  padding: 0 20px;
}

.navBar-Brand {
  font-size: 35px;
}

.navBar a {
  text-decoration: none;
  color: black;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown button {
  display: none;
}

.navBar-Brand i {
  font-size: 36px;
  margin: 0 10px;
}

.navList {
  margin: 0;
  height: 110px;
  display: table;
}

.navList li {
  list-style: none;
  display: table-cell;
  vertical-align: middle;
  font-size: 1.3rem;
  padding: 1.3rem 0;
  width: 160px;
  text-align: center;
  font-weight: 400;
}

.navList li:hover,
.navList li:focus {
  background-color: #38b6e6;
  color: white;
}

.navList li:hover a {
  color: white;
}

@media screen and (max-width: 1333px) {
  .navList {
    height: 80px;
  }

  .navList li {
    width: 130px;
  }

  .navBar-Brand {
    font-size: 25px;
  }
}

@media screen and (max-width: 993px) {
  .dropdown-content {
    display: none;
    position: absolute;
    top: 38px;
    right: -18px;
  }

  .dropdown button {
    display: block;
  }

  .navList {
    height: 100%;
  }

  .navList li {
    display: list-item;
    width: auto;
    height: auto;
    font-size: 17px;
    width: 130px;
    height: 50px;
    padding: 10px;
    line-height: 1.5;
    background-color: rgba(240, 245, 245, 0.4);
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .navBar .container {
    height: 50px;
  }
}
