.socials {
  background-color: #76c4e2;
  padding: 10px 0;
}

.socials ul {
  list-style: none;
  margin: 0 auto;
  width: 300px;
  padding: 0;
  text-align: center;
}

.socials li {
  background-color: white;
  width: 46px;
  height: 46px;
  display: inline-block;
  margin: 10px 5px;
  padding: 15px 0;
}

.socials a {
  color: black;
}

.socials i {
  font-size: 14px;
}

footer {
  padding: 20px;
  background-color: #5e9db5;
  text-align: center;
}

@media screen and (max-width: 479px) {
  footer {
    background-color: #76c4e2;
    text-align: center;
    padding: 5px;
  }

  footer p {
    background-color: #5e9db5;
    padding: 30px;
    width: 100%;
  }
}
